.App-logo {
    height: 50px;
    padding-left: 25px;
}


.App-header {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    color: #DEB992;
    background-color: #051622;
    box-shadow: rgb(220, 220, 220) 0px 2px 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}
