.sat-list-box{
    padding: 10px;
    border: 2px solid #ccc;
    margin-top: 5px;
    height: 290px;
    overflow: hidden;
}

.sat-list-btn {
    text-transform: none;
    padding: 0px 36px;
    background-color: #2bb673;
    font-size: 1em;
    color: #fff;
}

.sat-list {
    height: 240px;
    overflow-y: scroll;
    border: 0;
}

.spin-box {
    height: 370px;
    display:flex;
    align-items: center;
    justify-content: center;
}
